{% extends 'base.jinja' %}
{% block content %}
  <div
    class="flex flex-col justify-center text-center items-center justify-items-center gap-4 sm:p-20"
  >
    <h1>Add a movie</h1>
    <form
      action="{{ url_for('add_movie') }}"
      method="post"
      class="flex flex-col w-1/5"
    >
      <label>
        <input
          type="text"
          name="title"
          placeholder="Title"
          required
          class="border p-2 rounded-2xl"
        />
      </label>
      <label>
        <input
          type="text"
          name="genre"
          placeholder="Genre"
          required
          class="border p-2 rounded-2xl"
        />
      </label>
      <label>
        <input
          type="number"
          name="year"
          placeholder="Release Year"
          required
          class="border p-2 rounded-2xl"
        />
      </label>
      <label>
        <input
          type="text"
          name="director"
          placeholder="Director"
          required
          class="border p-2 rounded-2xl"
        />
      </label>
      <label>
        <input
          type="text"
          name="description"
          placeholder="Description"
          required
          class="border p-2 rounded-2xl"
        />
      </label>
      <input type="submit" value="Add movie" class="mt-1" />
    </form>
  </div>
{% endblock %}
