<!doctype html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} Films {% endblock %}</title>
  </head>
  <body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('fav') }}">Favorites</a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
  </body>
</html>