{% extends 'base.jinja' %}
{% block title %}
  {{ film['titel'] }}
  - Film Details
{% endblock %}
{% block content %}
  <div class="mx-2">
    <h1>{{ film['titel'] }}</h1>
    <p><strong>Genre:</strong> {{ film['genre'] }}</p>
    <p><strong>Release Year:</strong> {{ film['releasejaar'] }}</p>
    <p><strong>Director:</strong> {{ film['regisseur'] }}</p>
    <h3>Description</h3>
    <p>{{ film['beschrijving'] }}</p>

    <div class="flex flex-row items-center justify-content-between">
      <div class="flex flex-col">
        <h2>Reviews</h2>
        <span>Average rating: {{ avg_rating }}</span>
      </div>
      <a
        href="{{ url_for('review', film_id=film['film_id']) }}"
        class="btn btn-primary"
        >Add Review</a
      >
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Rating:</th>
          <th>Review:</th>
        </tr>
      </thead>
      <tbody>
        {% if reviews %}
          {% for review in reviews %}
            <tr>
              <td>{{ review['rating'] }}</td>
              <td>
                <div class="flex flex-row justify-content-between">
                  {{ review['recensie'] }}
                  {% if rol == "ADMIN" %}
                    <form
                      action="{{ url_for('delete_review') }}"
                      method="post"
                      class="ml-auto"
                    >
                      <input
                        type="hidden"
                        name="review_id"
                        value="{{ review['review_id'] }}"
                      />
                      <input
                        type="hidden"
                        name="film_id"
                        value="{{ film['film_id'] }}"
                      />
                      <input
                        type="submit"
                        class="btn btn-danger"
                        value="Delete"
                      />
                    </form>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">No reviews available for this film.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
