{% extends 'base.jinja' %}
{% block content %}
  <div
    class="flex flex-col justify-center text-center items-center justify-items-center gap-4 sm:p-20"
  >
    <h1>Videotheek</h1>
    {% if signedIn %}
      <p>
        Welcome to our online video store. You are already signed in, so you can
        access our content immediately!
      </p>
      <a href="{{ url_for('movies') }}" class="btn btn-primary"
        >Browse Movies</a
      >
    {% else %}
      <p>
        Welcome to our online video store. Sign in, or create an account to get
        started.
      </p>
      <div class="flex flex-row items-stretch gap-2 justify-center">
        <a href="{{ url_for('sign_in') }}" class="btn btn-primary"
          >I already have an account</a
        >
        <a href="{{ url_for('sign_up') }}" class="btn btn-primary"
          >I need an account</a
        >
      </div>
    {% endif %}
  </div>
{% endblock %}
