{% extends 'base.jinja' %}
{% block content %}
  <div
    class="flex flex-col justify-center text-center items-center justify-items-center gap-4 sm:p-20"
  >
    <h1>Dashboard</h1>
    <div class="flex flex-col gap-4">
      <a href="{{ url_for('add_movie') }}" class="btn btn-primary"
        >Create a movie</a
      >
      <a href="{{ url_for('create_user') }}" class="btn btn-primary"
        >Create a user</a
      >
      <a href="{{ url_for('list_users') }}" class="btn btn-primary"
        >List users</a
      >
      <a href="{{ url_for('delete_user') }}" class="btn btn-primary"
        >Delete a user</a
      >
      <a href="{{ url_for('sign_out') }}" class="btn btn-primary">Sign Out</a>
    </div>
  </div>
{% endblock %}
