{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col justify-center text-center items-center justify-items-center gap-4 sm:p-20">
        <h1>Remove a favorite movie</h1>
        <form action="{{ url_for('remove_movie') }}" method="post" class="flex flex-col w-1/5">
            <label>
                <input type="text" name="title" placeholder="Title" required class="border p-2 rounded-2xl">
            </label>
            <input type="submit" value="Remove movie" class="mt-1">
        </form>
    </div>
{% endblock %}


